
<h2>Socket Cliente!</h2>
    <p>Todo listo para trabajar con sockets</p>
<form id="form" >
    <label>Product:</label><input type="text" name="name" id="name">
    <label>Price:</label><input type="number" name="price" id="price">
    <input type="submit" value="SEND">
</form>
<br/>
<p id="products">
    <div class="card">
<img src="" alt="Avatar" style="width:100%">
<div class="container">
    <h4><b>  </b></h4>
    <p>Architect & Engineer</p>
  </div>
</div></p>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>